{%extends 'base.html'%}
{%block body_block%}
<div class="container mt-5 d-flex justify-content-center">
  <div class="card bg-success-subtle" style="width: 18rem;">
    {%if data.picture%}
     <img src="{{data.picture.url}}" alt="" height="200px">
    {%endif%}
      <div class="card-header">
        Name:{{data.name}}
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Author:{{data.author}}</li>
        <li class="list-group-item">Price:{{data.price}}</li>
        <li class="list-group-item">Publisher:{{data.publisher}}</li>
      </ul>
    </div>
 </div>

{%endblock%}